@model IEnumerable<AdvancedBookSearch.Models.DataLayer.Book>

@{
    ViewData["Title"] = "Index";
}

<label><strong>total items found: @ViewBag.Count</strong></label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                    @foreach(var author in item.Authors)
                    {
                        <label>
                            @Html.DisplayFor(modelItem => author.FirstName) @Html.DisplayFor(modelItem => author.LastName)
                        </label>
                        <br />
                    }
                </td>
        </tr>
}
    </tbody>
</table>
